body {
  font-family: "Amatic SC", cursive, sans-serif;
  background-color: #ddd6fe;
}

.nav {
  background-color: #a5b4fc;
  color: black;
  display: block;
  margin: auto;
  max-width: 70%;
  padding: 1rem 1rem;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  border-radius: 1rem;
  margin-bottom: 50px;
}

#month {
  color: black;
  max-width: 20%;
  display: block;
  margin: auto;
  height: 5vh;
  text-align: center;
  font-size: large;
  font-weight: 10px;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive, sans-serif;
  margin-bottom: 20px;
}

/* #btn-translate {
  background-color: #a5b4fc;
  border: 3px solid black;
  width: 20%;
  font-size: large;
  display: block;
  font-family: "Amatic SC", cursive, sans-serif;
} */

#output {
  border: 3px solid black;
  height: 60vh;
  display: block;
  margin: auto;
  margin: 30px;
}
